
@model ContactsApp.Models.ContactEditModel

<label for="newNumber">Phone number</label>

@Html.HiddenFor(x => x.Id)
<div class="d-flex form-actions no-color" style="margin-bottom: 1rem">
    <input class="form-control" type="text"  id="newNumber" style="width: 22.5rem;">
    <button type="button" data-user-id="@Model.Id" value="Save number" class="create-phone ml-1 btn btn-primary">Add</button>
</div>
