
@model ContactsApp.Models.ContactEditModel

<label for="newNumber">Phone number</label>

@Html.HiddenFor(x => x.Id)
<input class="form-control" type="text" placeholder="Default input" id="newNumber">
<div class="form-actions no-color">
    <button type="button" data-user-id="@Model.Id" value="Save number" class="create-phone btn btn-primary">Save number</button>
</div>
